<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" internalLogToConsole="true">

  <extensions>
    <add assembly="NLog.Targets.AzureEventHub" />
  </extensions>

  <!-- Variables -->
  <!-- Updated by a build transform to match the assembly information. -->
  <variable name="AssemblyCompany" value="Blockworks Software" />
  <variable name="AssemblyTitle" value="Leave Management for OutlookAddin 2010" />
  <variable name="AssemblyProduct" value="Leave Management" />
  <variable name="AssemblyFileVersion" value="0.9.0.0" />

  <!-- Updated by a build transform to match the app.config information. -->
  <variable name="logserviceaddress" value="dev_services.blockworks.com" />

  <!-- Constants -->
  <variable name="layout" value="${AssemblyTitle}|${longdate}|${logger}|${level}|${message}|${machinename}|${windows-identity:domain=true}|${threadid}|${callsite:filename=true}|${exception}|${stacktrace}" />
  <variable name="layoutHeader" value="Application|Date|Logger|Level|Message|Machine Name|Identity|Thread ID|Callsite|Exception|Stack Trace" />
  <variable name="LogServiceEndpointAddress" value="http://${logserviceaddress}/LogService/LogReceiverService.svc" />
  <variable name="LogFileDir" value="${specialfolder:folder=CommonApplicationData}\${AssemblyCompany}\${AssemblyTitle}" />
  <variable name="eventLayout" value="${longdate} | ${level:uppercase=true:padding=5} | ${message} | ${exception:format=type,tostring}" />

  <!-- Logging Service -->
  <targets async="true">
    <!-- Standard targets -->
    <target name="LogService" xsi:type="FallbackGroup" returnToFirstOnSuccess="true">
      <target xsi:type="LogReceiverService" endpointAddress="${LogServiceEndpointAddress}" useBinaryEncoding="false" includeEventProperties="true" clientId="${guid:cached=true}">
        <parameter name="application" layout="${AssemblyTitle}" />
        <parameter name="eventdate" layout="${longdate}" />
        <parameter name="logger" layout="${logger}" />
        <parameter name="level" layout="${level}" />
        <parameter name="message" layout="${message}" />
        <parameter name="machinename" layout="${machinename}" />
        <parameter name="username" layout="${windows-identity:domain=true}" />
        <parameter name="threadid" layout="${threadid}" />
        <parameter name="callsite" layout="${callsite:filename=true}" />
        <parameter name="exception" layout="${exception}" />
        <parameter name="stacktrace" layout="${stacktrace}" />
      </target>
      <target name="LocalFile" xsi:type="File" layout="${layout}" fileName="${LogFileDir}\logfile.log" archiveFileName="${LogFileDir}\archives\log.{###}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="30" concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2"
              header="${layoutHeader}">
      </target>
    </target>
    <!-- Custom targets -->
    <target name="eh" type="AzureEventHub" layout="${eventLayout}" EventHubConnectionString="Endpoint=sb://leavemanagement-namespace.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=0T0/S8PAQ0xG2pj0KGdR9oxgQJnfYCw3UmIO2Q9Y4Eg=;TransportType=Amqp" EventHubPath="leave-management-events" PartitionKey="" />
  </targets>

  <rules>
    <!-- Standard rules -->
    <!--<logger name="Main" minlevel="Error" writeTo="LogService" />
		<logger name="Usage" minlevel="Info" writeTo="LogService" />-->
    <!-- Custom rules -->
    <logger name="Main" minlevel="Debug" writeTo="LogService" />
    <logger name="Usage" minlevel="Info" writeTo="LocalFile" />
    <logger name="*" minlevel="Trace" writeTo="eh" />
  </rules>
</nlog>